@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }  
}

.custom-dropdownlist {
    position: relative;
    max-width: 300px;
}

.list-items {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 0;
    transition: all 0.2s;
}

.list-items.open {
    height: auto;
}

.list-items li {
    list-style: none;
}

.tags-name {
    padding: 5px 5px 5px 10px;
    margin: 0 2px;
    display: inline-block;
    background: #dddddd;
    border-radius: 5px;
}

.tags-name:hover {
    background: #bbbbbb;
}

.tags-name i {
    padding: 2px;
    font-weight: bold;
    cursor: pointer;
}

.input-items input { display: block; margin-bottom: 5px;}