FileService/obj/
FileService/bin/
.vs/
FileService/bin/Debug/netcoreapp2.1/FileService.dll
FileService/bin/Debug/netcoreapp2.1/FileService.pdb
FileService/obj/FileService.csproj.nuget.cache
FileService/obj/Debug/netcoreapp2.1/FileService.pdb
FileService/obj/Debug/netcoreapp2.1/FileService.dll
FileService/obj/Debug/netcoreapp2.1/FileService.csprojAssemblyReference.cache
FileService/obj/Debug/netcoreapp2.1/FileService.csproj.FileListAbsolute.txt
FileService/obj/Debug/netcoreapp2.1/FileService.csproj.CoreCompileInputs.cache
FileService/obj/Debug/netcoreapp2.1/FileService.assets.cache
FileService/obj/project.assets.json
FileService/obj/FileService.csproj.nuget.g.props
FileService/obj/FileService.csproj.nuget.cache
FileService/bin/Debug/netcoreapp2.1/FileService.pdb
FileService/bin/Debug/netcoreapp2.1/FileService.dll
