.page-loading-item{
    position: relative;
    text-align: center;
    padding: 10px 0;
}

.page-loading-overlay {
    background: #000000;
    opacity: 0.3;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;

    .spinner-border {
        position: relative;
        top: 43%;
    }

    .ui.centered.inline.loader.active {
        top: 40% !important;
    }
}