// For header

// For left sidebar
  
  // For right sidebar
  .right-side-bar {}
  
  
  // For main content
  .main-contents {}

  .modal-dialog {
    max-width: 90vw !important;
  }

.pagination-section {
  .pagination {
    padding: 0;
    margin: 0;
    .page-item {
      list-style: none;
      display: inline-block;

      a {
        padding: 5px 10px;
      }
      &.active {
        a {
          font-weight: bold;
        }
      }
    }
  }
}

.ui.table td {
  .admin-postlist-thumb {
    max-width: 150px;
    margin: 0;
    padding: 0;
    img.image {
      max-width: 100%;
      height: auto;
    }
  }
}