// For app
$background-color: #f0f0f0;
$background-footer-color: #272E3D;
$white-color: white;
$box-widget-header-color-red: #ad0909;
$color-red: #ad0909;
$border-color: #ccc;
$main-color: white;
$mark-color: #666666;
$a-color: #000000;
// for hover text
$hover-color: #09d3ac;

// For Nav
$nav-background: $color-red;
$nav-color: #ffffff;